@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <input type="text" id="txtUser" placeholder="nome usuário" />
</div>
<div>
    <input type="password" id="txtPass" placeholder="senha do usuário (email)s" />
</div>